{% load static %}
<div class="container-fluid splash-search">
	<img id="splash-image"src= "{% static "listings/business_photo4.jpeg" %}" alt="alt" height="100%" width="100%"/>
	<div class="centered">
		<div class="splash-title-container">
			<h1 style="text-align: center; margin-left:auto;margin-right:auto;">
			Find the perfect vendor for your next contract...
			</h1>
			<h3 style="text-align: center; width:80%; margin-left:auto;margin-right:auto; padding-bottom:35px;">
			Filter by set-asides and search by vendor name, product, naic, and much more
			</h3>
			{% include "listings/search_bar.html" %}
			<!--                     <div style="text-align:center;" id="universal-search">
				<form action="/" method="post">
					{% csrf_token %}
					{% for field in form %}
						<div class="form-group">
							{{ field }}
							<input id="submit-btn" type="submit" value="&#xf002 Search"/>
						</div>
					{% endfor %}
				</form>
			</div> -->
			<div class="reminder">
				<h3 style="text-align: center; width:50%; margin-left:auto;margin-right:auto;">
				This directory is updated every day with care. Please let us know any issues or suggestions you have by visiting: <br/>
				<div class="reminder-reviews-btn">
					<a href="/reviews" ><i class="fa fa-reply-all" aria-hidden="true"></i>
Reviews & Concerns </a>
				</div>
				</h3>
			</div>
		</div>
	</div>
</div>